/* Tablet and smaller devices */
@media screen and (max-width: 920px) {
	.desktopOnly {
		display: none !important;
	}
	.mobileOnly {
		display: block !important;
	}

	.navbar-brand {
		text-align: center;
		margin: 0 auto;
		padding: 20px 20px 40px;
		display: block;
		float: none;
	}

	img.logo {
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	.navbar-toggle {
		position: absolute;
		float: none;
		right: 0;
		top: 5px;
	}
}
/* Smartphones */
@media screen and (max-width: 640px) {
	body {
		font-size: 1.3em;
	}
	p {
		font-size: 1.1em;
	}
	footer {
		text-align: center;
	}
	 .modal-body a {
	 	font-size: 1.3em;
	 }
	.modal-body p {
		font-size: 1.6em;
	}
	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.title-label {
		padding: 10px 20px;
		width: 40%
	}
}